.title {
    width: 20%;
}
.title:hover {
    cursor: pointer;
    font-weight: bolder;
}

.flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: stretch;
    justify-content: space-around;
}

.btn {
    color: darkseagreen;
    outline: dimgrey;
    float: right;
}

.board {
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.board_head {
    background-color: lightslategrey;
}

.board_body:hover {
    font-weight: bolder;
    cursor: pointer;
}