.header {
    margin-top: 2%;
}
.header-item {
    float: right;
}

.flex-box {
    flex:1;
    flex-direction: row;
}
.board-title {
    margin-top: 5%;
    float: left;
}

.board-title:hover {
    cursor: pointer;
    font-weight: bolder;
}

.boards {
    width: 70%;
    margin-left: 15%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

table {
    width: 80%;
    text-align: center;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.table-hover {
    cursor: pointer;
}

.sign {
    align-items: flex-end;
    float: right;
}

sign:hover {
    outline-color: lightslategrey;
    cursor: pointer;
}

.board-btn {
    align-items: flex-end;
    float: right;
}

board-btn:hover {
    outline-color: lightslategrey;
    cursor: pointer;
}

.sign-text {
    padding-top: 8px;
    margin-right: 2%;
    float: right;
}

.paging {
    text-align: center;
    align-items: center;
    align-content: center;
    justify-content: center;
}

/* board-write, update */
.board-body {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}

.board-container{
    width: 60%;
    margin-top: 10%;

}

.writeBoard {
    /*margin-bottom: 20%;*/
    width: 60%;
    height: 50%;
}

.board-title{
    margin-top: 5%;
    margin-left: 5%;
    margin-bottom: 3%;
    font-size: 30px;
}

.board-content{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-content: center;
    align-items: center;
}

.board-name{
    font-size: 30px;
    text-align: center;
}

.board-date {
    font-size: 15px;
    float: right;
}

.board-item {
    margin: 3%;
    width: 80%;
    height: 100%;
}

.board-btn {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 5%;
}


.board-input {
    font-size: 15px;
    width: 300px;
    height: 50px;
}

.board-input-textArea{
    font-size: 15px;
    width: 300px;
    height: 150px;
}

/*==================reply*/
.replies {
    width: 80%;
    margin-left: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}